body,
input {
  font-size: 16px;
}
a {
  color: inherit;
}
.iconfont {
  font-size: 24px;
  line-height: 24px;
}
.container {
  background-color: #eee;
}
.login-container {
  height: 100%;
  box-sizing: border-box;
  padding: 20px;
  display: flex;
  flex-flow: column;
}
.login-container .logo-box {
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px;
}
.login-container .logo-box > img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
.login-input {
  display: block;
  width: 100%;
  height: 50px;
  line-height: normal;
  padding: 0 50px;
  border-width: 0;
  overflow: hidden;
}
.input-box {
  position: relative;
  background-color: #fff;
  border: 1px solid #ccc;
}
.input-box.username-box {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.input-box.password-box {
  margin-top: -1px;
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
.input-box > .iconfont {
  position: absolute;
  left: 10px;
  top: 50%;
  font-size: 30px;
  line-height: 30px;
  margin-top: -15px;
}
.input-box > .input-right-icon {
  left: auto;
  right: 10px;
}
.login-btn {
  display: block;
  background-color: #1c80d5;
  height: 50px;
  line-height: 50px;
  color: #fff;
  text-align: center;
  letter-spacing: 3px;
  padding-left: 3px;
  margin-top: 20px;
}
.input-op-box {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.input-op-box .text-btn {
  color: #999;
  font-size: 14px;
}
.register-box {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: flex-end;
}
.register-btn {
  height: 40px;
  line-height: 40px;
  padding: 0 30px;
  color: #1c80d5;
  border: 1px solid #1c80d5;
  cursor: pointer;
  border-radius: 5px;
}
.radius-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
.radius-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}
/**
主页
 */
.main {
  display: flex;
  flex-flow: column;
}
.main .main-content {
  flex: 1;
  overflow: auto;
  display: flex;
  flex-flow: column;
}
.main .main-content .menu-box .menu-item {
  padding: 10px 0;
  width: 25%;
}
.main .main-content .menu-box .iconfont {
  font-size: 40px;
  line-height: 40px;
}
.main .main-content .menu-box .menu-text {
  margin-top: 10px;
}
.main .main-footer {
  flex: 0 0 auto;
  border-top: 1px solid #ccc;
}
.main .home-container {
  height: 100%;
  display: flex;
  flex-flow: column;
}
.main .body {
  flex: 1 1 auto;
  overflow: auto;
}
.main .menu-box {
  display: flex;
  background-color: #fff;
  padding: 10px 0;
  flex-wrap: wrap;
}
.main .menu-box .menu-item {
  flex: 1 0 auto;
  text-align: center;
}
.main .menu-box .menu-item.active {
  color: #1c80d5;
}
.main .menu-box .iconfont {
  font-size: 26px;
  line-height: 26px;
}
.main .menu-box .menu-text {
  margin-top: 5px;
}
.main .search-box {
  margin: 0 10px;
  flex: 1;
}
.main .icon-btn-box {
  margin: 0 5px;
  flex: 0 0 auto;
  line-height: normal;
}
.main .info-item {
  background-color: #fff;
  height: 500px;
  margin-top: 10px;
}
.main .search-input::placeholder,
.main .search-input {
  color: #7fb9e5;
}
.main .menu-box-blue {
  background-color: #1c80d5;
  color: #fff;
}
.header {
  background-color: #1c80d5;
  color: #fff;
  flex: 0 0 auto;
  display: flex;
  align-items: center;
  height: 50px;
  position: relative;
  z-index: 1;
}
.header-title {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  z-index: -1;
  justify-content: center;
}
.header-right {
  flex: 1;
  text-align: right;
  padding-right: 10px;
  font-size: 14px;
}
.icon-text {
  position: relative;
  padding-left: 35px;
}
.icon-text .iconfont {
  position: absolute;
  left: 5px;
  top: 50%;
  margin-top: -12px;
}
.fit {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
}
.self-box {
  background-color: #1c80d5;
  color: #fff;
  padding: 20px;
  display: flex;
  align-items: center;
}
.self-box .img-box {
  height: 80px;
  width: 80px;
}
.self-box .self-info {
  flex: 1 0 auto;
  margin: 0 20px;
}
.nav-list {
  background-color: #fff;
  margin-bottom: 20px;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.nav-list > li > a {
  display: block;
  padding-left: 50px;
  position: relative;
  outline: none;
}
.nav-list > li > a > .iconfont {
  position: absolute;
  left: 10px;
  top: 50%;
  margin-top: -15px;
  font-size: 30px;
  line-height: 30px;
}
.nav-list > li:first-child .item-content {
  border-top-width: 0;
}
.nav-list > li .item-content {
  display: flex;
  align-items: center;
  border-top: 1px solid #ccc;
  padding: 10px 10px 10px 0;
}
.nav-list > li .item-content .item-text {
  flex: 1 0 auto;
  text-align: right;
  margin-right: 5px;
}
.nav-list > li:active {
  background-color: #ccc;
}
