
body{
    margin: 0;
}
html,body,.container{
    height: 100%;
    overflow: hidden;
}
ul{
    padding: 0;
    margin: 0;
    list-style: none;
}
object{
    height: 100%;
    width: 100%;
}
.iframe-div{
    position: absolute;
    z-index: 1;
    overflow: hidden;
}

.object-iframe{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.left-box{
    width: 42px;
    background-color: #F2F2F2;
}
.left-btn-list{
    border: 1px solid #ccc;
    overflow: auto;
}
.left-btn-list > li{
    height: 40px;
    line-height: 40px;
    text-align: center;
    border-bottom: 1px solid #ccc;
    font-size: 0;
}

img{
    vertical-align:middle;
}
.container{
    font-size: 0;
    white-space: nowrap;
}
.inline{
    display: inline-block;
    vertical-align: top;
}
.content-box{
    padding-right: 42px;
    margin-right: -42px;
}
.object-box{
    padding-bottom: 100px;
    margin-bottom: -100px;
}
.footer-box{
    height: 100px;
    overflow-x: auto;
    overflow-y: hidden;
    border-top: 1px solid #ccc;
    box-sizing: border-box;
}
.view-list{
    background-color: #F2F2F2;
    padding: 10px;
}
.view-list > li{
    display: inline-block;
    vertical-align: top;
    border: 1px solid #ccc;
    width: 120px;
    height: 100%;
    margin-right: 10px;
    padding: 4px;
    background-color: #fff;
    box-sizing: border-box;
}
.view-list img{
    width: 100%;
    height: 100%;
}
.fit{
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}
.fit-height{
    height: 100%;
    box-sizing: border-box;
}
.fit-width{
    width: 100%;
    box-sizing: border-box;
}